
{% extends "layout.html" %}

{% block content %}
  <h2>Add money</h2>

  {% for message in form.addmoney.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

<form action="{{ url_for('simple_page.addmoney') }}" method=POST>



    <h3> Wallet Balance: {{ addmoney }} </h3>

    {{ form.hidden_tag() }}

    {{ form.addmoney.label }}
    {{ form.addmoney }}



    {{ form.submit }}
  </form>

{% endblock %}