

  {% block content %}
  <h2>Sign up</h2>
<li><a href="{{ url_for('simple_page.admin_profile') }}">Admin Profile</a></li>
          <li><a href="{{ url_for('simple_page.signout') }}">Sign Out</a></li>
  {% for message in form.username.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.category.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.commission.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}



  <form action="{{ url_for('simple_page.billers_signup') }}" method=POST>
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {{ form.username }}

      {{ form.password.label }}
    {{ form.password }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.category.label }}
    {{ form.category }}

      {{ form.commission.label }}
    {{ form.commission }}




    {{ form.submit }}
  </form>

{% endblock %}
