
{% extends "layout.html" %}

{% block content %}
  <h2>Update Profile</h2>

  {% for message in form.update_username.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

{% for message in form.update_password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

<form action="{{ url_for('simple_page.editprofile') }}" method=POST>

    <h3>This is Updated username {{ update_username }}</h3>
    <h3>This is Updated password {{ update_password }}</h3>


    {{ form.hidden_tag() }}

    {{ form.update_username.label }}
    {{ form.update_username }}

    {{ form.update_password.label }}
    {{ form.update_password }}


    {{ form.submit }}
  </form>

{% endblock %}