

{% block content %}
  <div class="jumbo">
    <h2>Home</h2>
<li><a href="{{ url_for('simple_page.signup') }}">User Sign Up</a></li>
          <li><a href="{{ url_for('simple_page.signin') }}">User Sign In</a></li>
      <br>
    <li><a href="{{ url_for('simple_page.billers_signin') }}">Billers Sign-In</a></li>
      <li><a href="{{ url_for('simple_page.admin_signin') }}">Admin Sign-In</a></li>

  </div>
{% endblock %}
