<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

  <header>
    <div class="container">
      <h1 class="logo">Flask App</h1>
      <nav>
        <ul class="menu">

          {% if 'email' in session %}

          <li><a href="{{ url_for('simple_page.profile') }}">Profile</a></li>
          <li><a href="{{ url_for('simple_page.signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('simple_page.signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('simple_page.signin') }}">Sign In</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>