

{% block content %}
  <h2>Pay Bill</h2>


    <div class="flash">{{ message }}</div>



<form action="{{ url_for('simple_page.paybill') }}" method=POST>

    <li><a href="{{ url_for('simple_page.profile') }}">Profile</a></li>
    <li><a href="{{ url_for('simple_page.signout') }}">Sign Out</a></li>



    <h3> Wallet Balance: {{ paymoney }} </h3>

    {{ form.hidden_tag() }}

     {{ form.paymoney.label }}
    {{ form.paymoney }}

     {{ form.username.label }}
    {{ form.username }}

    {{ form.submit }}
  </form>

{% endblock %}
