

{% block content %}
  <li class="jumbo">
    <h2>Profile</h2>
<li><a href="{{ url_for('simple_page.profile') }}">Profile</a></li>
          <li><a href="{{ url_for('simple_page.signout') }}">Sign Out</a></li>
    <li></li><a href="{{ url_for('simple_page.addmoney') }}">Add Money</a></li>
    <li><a href="{{ url_for('simple_page.editprofile') }}">Edit Profile</a></li>
    <h3>This is {{ username }}</h3>
    <h3>Wallet Balance {{ addmoney }}</h3>
    <li><a href="{{ url_for('simple_page.paybill') }}">Pay Bill</a></li>
    <h3>This is {{ session['email'] }}'s profile page</h3>
  </div>
{% endblock %}