

{% extends "layout.html" %}
  {% block content %}
  <h2>Sign up</h2>

  {% for message in form.username.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}



  <form action="{{ url_for('simple_page.signup') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {{ form.username }}

      {{ form.password.label }}
    {{ form.password }}

    {{ form.email.label }}
    {{ form.email }}




    {{ form.submit }}
  </form>

{% endblock %}
