

{% block content %}
  <h2>Add money</h2>

  {% for message in form.unloadmoney.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
<li><a href="{{ url_for('simple_page.billers_profile') }}">Billers Profile</a></li>

<form action="{{ url_for('simple_page.unloadmoney') }}" method=POST>
    <li><a href="{{ url_for('simple_page.signout') }}">Sign Out</a></li>



    <h3> Wallet Balance: {{ unloadmoney }} </h3>

    {{ form.hidden_tag() }}

    {{ form.unloadmoney.label }}
    {{ form.unloadmoney }}



    {{ form.submit }}
  </form>

{% endblock %}
